<section id='home-template'>
  <section class="vine-choices">
      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Rails</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Front End</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Front End</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Front End</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Rails</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Front End</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Front End</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Front End</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Front End</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Rails</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Front End</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Front End</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Front End</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Front End</div>
        </a>
      </div>

      <div class="vine-selection-entry">
        <a href="#/dogs">
          <img class="vine-avatar-large" src="http://i.imgur.com/s7mpWGj.jpg">
          <div class="student-name">Dave Seidman</div>
          <div class="course">Rails</div>
        </a>
      </div>


  </section>
</section>
