<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Iron Yard Sugar</title>


    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>

  </head>


<body>

  <div class='container'>


    <section class="login-container">
        <a href="#/roster"><input class="cohort-launch" type="button" value="Summer 2014 Cohort"/></a>
    </section>
  </div>
</body>



<script id="student-list-template" type="text/x-handlebars-template">
  <nav>
    <ul>
      <li>Filter</li>
      <li>Edit My Profile</li>
    </ul>
  </nav>


  <section class="student-list">
    {{#each classRoster}}
      <div class="student-entry id={{id}}">

        <a href="#/roster/{{id}}">
          <img src="{{ghAvatar github}}" class="student-photo-small {{addClass cohort.focus}}" >
          <div class="student-name">{{name}}</div>
          <div class="course">{{cohort.focus}}</div>
        </a>
      </div>
      {{/each}}

  </section>

</script>







<script id="student-single-template" type="text/x-handlebars-template">
  <nav>
    <ul>
      <li><a href="/#/roster">Close</a></li>
      <li>Edit My Profile</li>
    </ul>
  </nav>
  <section class="student-page">

      <div class="student-header">
        <h1>{{name}}</h1>
      </div>

      <div class="main-info">
        <img id = "student-photo-large" src="{{avatar}}">
        <aside>
          <p class="course-large">{{cohort.focus}}</p>
            <nav class="social-media">
              <ul class = "social-list">
                <a href="https://github.com/{{github}}/">
                <li class="social-icon" id="github">
                  <i class="fa fa-github-square fa-4x"></i>
                </li>
                </a>
                <li class="social-icon" id="linkedin">
                  <i class="fa fa-linkedin-square fa-4x"></i>
                </li>
                <li class="social-icon" id="twitter">
                  <i class="fa fa-twitter fa-4x"></i>
                </li>
              </ul>
            </nav>
          <a href="mailto:{{email}}"><p class="email">{{email}}</p></a>

        </aside>
      </div>



      <section class="bio">{{bio}}</section>



      </section>
  </div>
  </script>

</html>
