<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Iron Yard Sugar</title>


    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>

  </head>


  <body>

    <!-- <header>
      <p class="sweet-logo">Sugar</p>
      <div class="header-container">
        <div class="header-text-overlay">
          <div class="header-text">
            <h1>Durham, NC</h1>
            <h2>Summer 2014 Cohort</h2>
          </div>
      </div>
      </div>
    </header> -->

    <div class='container'>


  <section class="login-container">
    <div id="login-splash">
      <h3>Sweet slogan goes here</h3>
    </div>
    <div id="login-form">
      <form name="login">
        <dt><p>Username</p><input class="form-entry" type="text" name="username"/></dt>
        <dt><p>Password</p><input class="form-entry" type="password" name="password"></dt>
        <a href="#/roster"><input id="login-button" type="button" value="Login"/></a>
        <input type="reset" id="reset" value="Cancel"/>
      </form>
    </div>
  </section>


<script id="student-list-template" type="text/x-handlebars-template">
  <nav>
    <ul>
      <li>Filter</li>
      <li>Edit My Profile</li>
    </ul>
  </nav>


  <section class="student-list">
    {{#each classRoster}}
      <div class="student-entry" id={{id}}>

        <a href="#/roster/{{id}}">
          <img class="student-photo-small" src="{{avatar}}">
          <div class="student-name">{{name}}</div>
          <div class="course">{{course}}</div>
        </a>
      </div>
      {{/each}}

  </section>

</script>






</div>
<script id="student-single-template" type="text/x-handlebars-template">
  <nav>
    <ul>
      <li>Close</li>
      <li>Edit My Profile</li>
    </ul>
  </nav>
  <section class="student-page">

      <div class="student-header">
        <h1>{{name}}</h1>
      </div>

      <div class="main-info">
        <img id = "student-photo-large" src="{{avatar}}">
        <aside>
          <p class="course-large">{{cohort.focus}}</p>
          <p class="email">{{email}}</p>

            <nav class="social-media">
              <ul class = "social-list">
                <li class="social-icon" id="github">G</li>
                <li class="social-icon" id="linkedin">L</li>
                <li class="social-icon" id="twitter">T</li>
              </ul>
            </nav>

        </aside>
      </div>



      <section class="bio">{{bio}}</section>



      </section>
  </div>
  </script>
</body>
</html>
