@import 'bourbon';
@import 'neat';

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700);


 //
 // * This is a manifest file that'll be compiled into application.css, which will include all the files
 // * listed below.
 // *
 // * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 // * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 // *
 // * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 // * compiled file so the styles you add here take precedence over styles defined in any styles
 // * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 // * file per style scope.
 // * *= require_self





* { @include box-sizing(border-box); }

$page-width        :  em(970);

$large-avatar      :  125px;

$primary-font      :  'Bitter', serif;
$logo-font         :  'Comfortaa', Arial, "MS Trebuchet", sans-serif;

$max-width: em(970);

$front-end          : #ceae2c;
$rails              : #a02121;
$sugarblue          : #0000FF;



body {
  background: #F5F5DC;
  font-family: Bitter;
  color: #333;
  margin: 0;
}

header {

    font-family: $primary-font;
    font-size: 2.0em;
    height: 490px;
    background: url('http://i.imgur.com/CGkLSQN.jpg')   no-repeat center fixed ;
    background-size: cover;
    position:relative;

    .sweet-logo {
      position: absolute;
      left: 0;
      top: -20px;
      font-size: 6em;
      color: $sugarblue;
      margin: 0;
      opacity: .5;
      background: white;
      font-family: $logo-font
    }

    .header-container {
      top: 245px;
      left: 50%;
      width: $max-width;
      position:absolute;
      height: 200px;

      .header-text-overlay {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -($max-width/4);
        background: #000;
        opacity: .5;
        width: ($max-width/2);
        padding: 30px;
      }

      .header-text {

        h1 {
            font-family: $primary-font;
            font-size: 2.5em;
            font-weight: normal;
            // color: $primary-color;
            color:white;
            display: block;
            margin: 0;

          }


        h2 {
            font-family: $primary-font;
            letter-spacing: .18em;
            font-size: 1.3em;
            -webkit-margin-before: 0.0;
            -webkit-margin-after: 0.0;
            padding: 10px 2px 10px 2px;
            text-align: left;
            color:white;
        }
      }

    }
}


.container {
  @include outer-container;
}

  div.list {
    @include span-columns(12);
    text-align:center;

    div.result {
      width:30.9%;
      float:left;
      background: #000;
    }
  }


  section.student-list {
    @include span-columns(12);

    background-color: #f0f0f0;
    box-shadow: black 0px 0px 30px 10px;

    padding: 30px;
    margin: 30px 0 0 0;
}


    div.student-entry
    {
          @include span-columns(2 of 12);

          @include omega(6n);
          padding: 0 0 30px 0;
          text-align:center;

          img.student-photo-small
          {
              @include size(125px 125px);
              border-radius:62.5px;
              border: 6px solid $front-end;
          }

          .student-name
          {
            padding: 0 10px 0 10px;
            font-weight: bold;
          }

          .course
          {
            padding: 0 10px 0 10px;
          }

    }
    // just for demo purposes...rails color
    div.student-entry:nth-child(4n+1) img.student-photo-small
    {
      border-color: $rails;
    }


    p.student-selection-name
    {
        @extend h2;
        text-align:center;
        clear:left;
    }



a {
  text-decoration: none;
  color: inherit;
}



nav {

  ul {

margin: 20px 0px 15px 0;
padding-top: 0px;
border-top: 3px solid #aaa;
  li {
    list-style:none;
    margin-bottom: 12px;
    font-size: 18px;
    float: left;
    -webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;

    }
  }
}

section.login-container {
  @extend .student-list;
  max-width: $max-width;

  #login-splash {
    @include span-columns(6);
    p.cta_title {
      padding: 0 20px 0 20px;
      font-weight: bold;
      font-size: 3.5em;
      margin: 15px 0 15px 0;
      color: $sugarblue;
    }
    p.cta_subtitle {
      padding: 0 20px 0 20px;
      font-size: 1.8em;
    }
  }

  #login-form {
    @include shift(1);
    @include span-columns(5);


    label {
      float: left;
      width:100px;
    }

    label[for=student_remember_me] {
      width: 200px;
    }

    p {
      @include shift(1);
      @include span-columns(2 of 6);
      font-size: 1.5em;
    }
    input {
      color: #000;
      margin: 12.5px;
      width: 200px;
      font-family: $primary-font;
      font-size: 1.3em;
      float:left;
    }
    dt {
      clear:left;
      label[for=student_email], label[for=student_password] {
        font-size: 1.5em;
      }
    }
    input.button {
      @include button(shiny, $sugarblue);
      color: whitesmoke;
      margin: 12.5px 30px 12.5px 30px;
      width: 150px;
      font-family: $primary-font;
      font-size: 1.5em;
      float:left;
      clear:left;
    }
  }
  .sign-in-links {
    clear: both;
  }

}





#student-list-template
{
  display: none;
}


.notice, .alert
{
  margin: 0;
}


h3 {
  margin: 0;
  text-align: center;
  font-size: 1.1em;
}

////////////////

section.student-page {
  @include span-columns(12);

  background-color: #f0f0f0;
  box-shadow: black 0px 0px 30px 10px;

  padding: 30px;
  margin: 30px 0 0 0;
}


  div.student-header
  {
    @include span-columns(12 of 12);
    text-align:center;

    h1 {
      font-size: 4.5em;
    }
  }

  div.main-info
  {
    img#student-photo-large {
      @include span-columns(5 of 12);
      @include size (350px 350px);
    }

    aside {
      @include span-columns(7 of 12);
      height: 350px;
      margin: 40px 0 0 0;
      p.course-large, p.email {
        font-size: 2.5em;
        margin: 0 30px 20px 30px;
      }

      nav.social-media
      {
        ul.social-list {
          display:inline-block;
          text-align:center;
          li.social-icon {
            display-type: none;
            float:left;
          }
        }
      }

    }
  }


  section.bio
  {
    @include span-columns(12);
  }
