<!DOCTYPE html>
<html>
<head>
  <title>Sugar</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <p class="sweet-logo">Sugar</p>
  <div class="header-container">
    <div class="header-text-overlay">
      <div class="header-text">
        <h1>Durham, NC</h1>
        <h2>Summer 2014 Cohort</h2>
      </div>
  </div>
  </div>
</header>
<%= yield %>

</body>
</html>
